<!DOCTYPE html>
<html>
<head>
	<title>АХХАХАХА</title>
</head>
<body>
<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center">&nbsp;</h1>

<h1 style="text-align:center"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:30px"><strong>Привет,  мои дорогие Алиса и Ева. С наступающим или наступившим вас новым годом))0.Желаю вам эти стандартные вещи, что говорят обычно, но от себя лишь хочу добавить. Будьте такими же замечательными, веселыми и красивыми как в этом году, не скучайте и не грустите. Персонально хотел бы сказать, что Алиса, я искренне верю что у тебя получится преребздеть все долги и, надеюсь у тебя появится больше свободного времени. А тебе Ев, в некст учебном году не проеби подготовку к ЕГХУЙ…
фу ьля чихнул, так вот я верю у тебя получится все сдать и получить баллы для бюджета, а даже если нет, что конечно же маловероятно, не бюджет это не приговор и думается мне, ты будешь также как и мы плавать в не бюджете. Чтож желаю вам отлично отметить новый год и повеселится. Посылаю вам свои электронный обнимашки,, йо я как бабушка,, Люблю вас <3 <3.
</strong></span></span></h1>
<h1 style="text-align:center">&nbsp;</h1>
<h1 style="text-align:center">&nbsp;</h1>
<h1 style="text-align:center"><span style="font-family:Comic Sans MS,cursive"><span style="font-size:5px"><strong>эх мне бы кто компанию на нг составил;((</strong></span></span></h1>
</body>
</html>